<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="content-style-type" content="text/css">
	<meta http-equiv="content-script-type" content="text/javascript">
	<script type="text/javascript" src="../public/"></script>
	<script type="text/javascript" src="../public/scripts/jquery.json-2.4.js"></script>
	<link rel="stylesheet" type="text/css" href="../public/styles/default.css">
	<link rel="stylesheet" type="text/css" href="../public/styles/hamekomitter.css">
	<title>はめこみったー</title>
</head>
<body>
<header>
<h1>はめこみったー</h1>		
</header>
<section>
<h1>テンプレートを選択してください．</h1>
<ul id="TemplateList">
	<li><a href=""><img src="../public/images/image01.jpg"></a></li>
	<li><a href=""><img src="../public/images/image01.jpg"></a></li>
	<li><a href=""><img src="../public/images/image01.jpg"></a></li>
</ul>
</section>
<footer>
	<p>(C) Hamekomitter project 2014, All rights reserved.</p>
</footer>
</body>
</html>